<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graf</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>
<body>
<div>
<canvas id="myChart" width="300" height="100"></canvas>
</div>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ labels|safe }},
        datasets: [{
            label: 'Cena',
            data: {{ data }},
            borderWidth: 1,
            borderColor: "red",
            stepped: true,
        }]
    },
    options: {

    }
});
</script>

</body>
</html>